.search,
.search-result {
    width: 361px;
    padding-top: 0px;
}

.search {
    position: relative;
    height: 46px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    padding-left: 16px;
    display: flex;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        color: var(--black);
        height: 100%;
        font-size: 1.6rem;
        border: none;
        background-color: transparent;
        outline: none;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown)~.search-button {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 28px;
        background-color: rgba(22, 24, 35, 0.12);
        top: 9px;
        right: 60px;
    }

    &:focus-within {
        border: rgba(22, 24, 35, 0.2);
    }
}

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: (22, 24, 35, 0.5);
}

.clear,
.loading {
    position: absolute;
    font-size: 16px;
    right: 68px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }

    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-button {
    width: 52px;
    height: 100%;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}